<%- include('partials/header') %>
    <main class="container">
        <div>
            <ul>
                <% for(let i=0;i<posts.length;i++) { %>
                    <li>
                        <a href="/post/<%= posts[i]._id %>">
                            <img src="<%= posts[i].image %>">
                        </a>
                    </li>
                <%}%>
            </ul>
        </div>
    </main>
<%- include('partials/footer') %>