<%- include('partials/header') %>

<main class="container">
    <div style="display:grid;place-content:center;min-height:90vh;">
        <div>
            <a href="/login"><span class="button">Login Button</span></a>
            <a href="/signup">Signup Button</a>
        </div>
    </div>
</main>

<%- include('partials/footer') %>