<%- include('/partials/header.ejs') %>

<div>
    <div>
        <div>
            <div>
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a href='logout'>Logout</1>
            </div>
            <div>
                <h2>Add a post</h2>
                <form action='/post/createPost' enctype='multipart/form-data' method='POST'>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('/partials/footer.ejs') %>